/*--------------------------------------------------------------
** All Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --heading-color: #110e34;
  --heading-color-2: #1e1f23;
  --body-color: #677489;
  --gray-color: #f8fafc;
  --gray-color-2: #f5f3fe;
  --border-color: #cdd5e0;
  --accent-color: #46208f;
  --heading-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
}
