/*--------------------------------------------------------------
  8. Footer
----------------------------------------------------------------*/
.cs_footer_widget_menu a,
.cs_footer_links a,
.cs_post_style_1 .cs_post_title a {
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
  transition:
    background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
    color 0.27s ease-out;
  background-position: 100% calc(100% - 0px);
  background-size: 0 1px;
  &:hover {
    background-size: 100% 2px;
    background-position: 0 calc(100% - 0px);
  }
}
.cs_copyright {
  color: var(--heading-color);
  opacity: 0.75;
}
.cs_bottom_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid #e3e8ef;
  @media (max-width: 991px) {
    padding: 15px 0;
    justify-content: center;
  }
  // > * {
  //   padding: 4px 0;
  // }
}
.cs_social_btns.cs_style_1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 14px;
  a {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #f1f4f8;
    display: flex;
    color: #97a3b6;
    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
      transform: scale(1.08);
    }
  }
  &.cs_type_1 {
    font-size: 17px;
    gap: 20px;
    a {
      border: none;
      height: initial;
      width: initial;
    }
  }
}

.cs_footer_links {
  display: flex;
  flex-wrap: wrap;
  li {
    &:not(:last-child) {
      &::after {
        content: "|";
        margin: 0 10px;
        position: relative;
        top: -1px;
      }
    }
  }
  a {
    color: var(--heading-color);
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
}

.cs_footer_widget + .cs_footer_widget {
  margin-top: 24px;
}
.cs_newsletter.cs_style_1 {
  position: relative;
  .cs_newsletter_input {
    height: 100%;
    padding: 16px 85px 16px 52px;
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 50px;

    @media (max-width: 1199px) {
      height: 70px;
      padding: 10px 70px 10px 20px;
    }
    &::placeholder {
      color: var(--body-color);
      opacity: 0.75;
    }

    &::-ms-input-placeholder {
      color: var(--heading-color);
      opacity: 0.75;
    }
  }

  .cs_newsletter_btn {
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 42px;
    position: absolute;
    right: 8px;
    line-height: 1.25em;
    font-weight: 600;
    background: linear-gradient(
      60deg,
      #1c0e3f 19%,
      rgba(90, 64, 154, 0.7) 86.31%
    );
    top: 8px;
    &:hover {
      transform: scale(1.04);
    }
  }
  .cs_form_icon {
    display: flex;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.cs_footer_widget_menu {
  color: var(--body-color);
  li {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
}
.cs_footer_widget_title {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 600;
}
.cs_footer_row {
  display: flex;
  gap: 30px 100px;
  padding: 32px 0;
  @media (max-width: 1199px) {
    gap: 30px 45px;
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px 24px;
    padding: 70px 0 50px;
  }
  @media (max-width: 380px) {
    flex-direction: column;
  }
  .cs_footer_col {
    flex: none;
    max-width: 162px;

    &:last-child {
      max-width: 300px;
    }

    &:first-child {
      flex: 1;
      max-width: initial;
      padding-right: 12px;
      @media (max-width: 991px) {
        width: 100%;
        flex: none;
      }
    }
  }
}
.cs_footer.cs_style_1.cs_color_1 {
  background-color: var(--heading-color);
  color: var(--white-color);
  .cs_footer_widget_menu,
  .cs_footer_widget_title,
  .cs_copyright,
  .cs_footer_links a,
  .cs_footer_widget_menu a {
    color: var(--white-color);
  }
  .cs_bottom_footer {
    border-color: var(--white-color);
  }
  .cs_text_widget p {
    border-color: var(--white-color);
  }
  .cs_newsletter_input {
    background-color: var(--white-color);
  }
  .cs_newsletter_btn {
    background-color: #e1ece3;
    &:hover {
      background-color: var(--heading-color);
    }
  }
}
.cs_footer.cs_style_1.cs_color_2 {
  background-color: #e1ece3;
  .cs_newsletter_input {
    background-color: var(--white-color);
  }
  .cs_newsletter_btn {
    background-color: var(--heading-color);
    color: var(--white-color);
  }
}
