/*--------------------------------------------------------------
  10. Sidebar
----------------------------------------------------------------*/
.cs_sidebar_item {
  &:not(:last-child) {
    margin-bottom: 32px;
    .cs_social_btns.cs_style_1 {
    }
  }
  .cs_social_btns.cs_style_2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    a img {
      transition: transform 0.3s ease;
    }

    a:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    a:hover img {
      transform: scale(1.15);
    }
  }
}

.cs_sidebar_widget_title {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 24px;
}
.cs_category_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.cs_cat_item {
  font-size: 16px;
  line-height: 1.625em;
  border: 1px solid #cdd5e0;
  padding: 2px 12px;
  display: inline-block;
  border-radius: 30px;
  color: var(--body-color);
  &:hover {
    color: #fff;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.cs_widget_tags {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      // padding-left: 30px;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e3e8ef;
      }
    }
  }
}

.cs_recent_posts {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
.cs_recent_post {
  display: flex;
  align-items: center;
}
.cs_recent_post_thumb {
  height: 72px;
  width: 72px;
  border-radius: 8px;
  flex: none;
  overflow: hidden;
  margin-right: 15px;
  &:hover {
    .cs_recent_post_thumb_in {
      transform: scale(1.06);
    }
  }
}
.cs_recent_post_thumb_in {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: all 0.4s ease;
}
.cs_recent_post_date {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86em;
  color: #97a3b6;
}
.cs_recent_post_title {
  font-size: 16px;
  margin-bottom: 8px;
}
.cs_sidebar_search {
  position: relative;
}
.cs_sidebar_search input {
  display: block;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--heading-color);
  padding: 9px 40px 9px 15px;
  transition: all 0.3sease;
  border-radius: 10px;
  &:focus {
    border-color: var(--heading-color);
  }
}
.cs_sidebar_search_btn {
  position: absolute;
  border: none;
  outline: none;
  bottom: 0px;
  right: 0;
  padding: 10px 14px;
  cursor: pointer;
  background-color: var(--heading-color);
  border-radius: 0 10px 10px 0;
  transition: all 0.3s ease;
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}
.cs_author_card {
  img {
    height: 130px;
    width: 130px;
    margin-bottom: 22px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 14px;
  }
  p {
    margin-bottom: 0;
  }
}
.cs_right_sidebar {
  padding-left: 64px;
}
