.cs_contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 23px 24px;
  border: 1px solid #e3e8ef;
  border-radius: 24px;
  .cs_form_input_wrapper {
    label {
      margin-bottom: 8px;
    }
    textarea {
      max-height: 120px;
    }
    font-size: 16px;
    line-height: 1.625em;
    .cs_type_1 {
      width: 100%;
      background: linear-gradient(
        60deg,
        #1c0e3f 19%,
        rgba(90, 64, 154, 0.7) 86.31%
      );
    }
    .cs_form_field {
      display: block;
      width: 100%;
      border: 1px solid var(--border-color);
      background-color: transparent;
      outline: none;
      padding: 10px 12px;
      resize: none;
      margin-bottom: 0;
      color: var(--body-color);
    }
  }
}

.cs_contact_info {
  list-style: none;
  margin-bottom: 32px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  .cs_social_btns.cs_style_1 {
    a {
      background-color: var(--gray-color-2);
    }
  }
}
.cs_map {
  max-height: 326px;
  filter: brightness(75%) grayscale(0.8);
  iframe {
    width: 100%;
    min-height: 326px;
    border-radius: 20px;
  }
}
