/*--------------------------------------------------------------
  12. CTA
----------------------------------------------------------------*/
.cs_cta.cs_style_1 {
  border-radius: 32px;
  .cs_badge {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px 20px;
  }
  .cs_cta_title {
    letter-spacing: -2px;
  }
}

.cs_cta_style_2 {
  width: 100%;
  border-radius: 32px;
  padding: 0 60px;
  display: flex;
  gap: 60px;
  .cs_contact_img {
    max-width: 340px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    flex: none;
    .cs_img_outline {
      padding: 10px 8px 0;
      border: 1px solid rgb(255, 255, 255, 0.5);
      border-bottom: 0;
      border-radius: 70px 70px 0 0;
    }
  }
  .cs_cta_left {
    flex: none;
    max-width: 390px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 64px 0;
  }
  .cs_cta_right {
    flex: 1;
    padding-left: 20px;
    display: flex;
    align-items: center;
    padding: 64px 0;
  }
  .cs_address {
    display: flex;
    gap: 12px;
  }
  .cs_info {
    display: flex;
    gap: 12px;
  }
}
