.cs_feature_cards_wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  .cs_feature_card {
    grid-column: auto / span 4;
    &:nth-child(4n + 4),
    &:nth-child(4n + 5) {
      grid-column: auto / span 6;
    }
    &:not(:first-child):nth-child(odd) {
      padding-bottom: 0;
      .cs_feature_card_thumb {
        .cs_lg_img {
          border-radius: 12px 12px 0 0;
        }
      }
    }
    &:nth-child(2n + 2) {
      flex-direction: column-reverse;
    }
    &:nth-child(4) {
      .cs_feature_card_thumb {
        max-width: 528px;
        display: flex;
        flex-direction: column-reverse;
      }
      .cs_feature_card_thumb_item {
        position: relative;
        &:nth-child(3) {
          padding: 0 9%;
          margin-bottom: -22px;
        }
        &:nth-child(2) {
          padding: 0 4.2%;
          z-index: 2;
          margin-bottom: -22px;
        }
        &:nth-child(1) {
          z-index: 3;
        }
      }
    }
  }
  &.cs_type_1 {
    .cs_feature_card {
      &:nth-child(1) {
        padding-bottom: 0;
        .cs_feature_card_thumb {
          .cs_lg_img {
            border-radius: 12px 12px 0 0;
          }
        }
      }
      &:nth-child(3) {
        justify-content: flex-end;
        .cs_feature_card_thumb {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #ece9fc;
            left: 0;
            top: -12px;
            transform: rotate(-4.47deg);
            border-radius: 12px 12px 0 0;
          }
          img {
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }
}
.cs_feature_card {
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  .cs_feature_card_text {
    max-width: 470px;
  }
  .cs_feature_card_thumb {
    max-width: 470px;
    .cs_lg_img {
      width: 100%;
      box-shadow: 21px 28px 66px 0 rgba(52, 20, 139, 0.11);
      border-radius: 12px;
    }
    .cs_mini_img {
      position: absolute;
      right: -17px;
      top: -32px;
      z-index: 1;
    }
  }
}
