/*--------------------------------------------------------------
  10. Hero
----------------------------------------------------------------*/
.cs_hero.cs_style_1 {
  .cs_hero_in {
    padding: 164px 0 64px;
  }
  .cs_hero_text {
    max-width: 660px;
  }
  .cs_badge {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  }
  .cs_hero_title {
    max-width: 620px;
  }
  .cs_hero_brands {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    gap: 15px 26px;
  }
  .cs_hero_thumb {
    position: absolute;
    right: 0;
    bottom: 0;
    gap: 26px;
  }
  .cs_hero_thumb_sm_1 {
    position: absolute;
    top: 83px;
    left: -32%;
  }
  .cs_hero_thumb_sm_2 {
    position: absolute;
    right: -134px;
    bottom: 25px;
  }
}
