.cs_section_heading_style_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .cs_section_heading_left {
    width: min(50%, 600px);
  }
  .cs_section_heading_right {
    width: min(50%, 460px);

    .cs_btn.cs_style_1 {
      border: 1px solid #cdd5e0;
      line-height: 1.3em;
      padding: 12px 24px;
      &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
        border-color: var(--accent-color);
      }
    }
  }
}

.cs_post_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  .cs_post_avatar_text {
    span {
      padding-left: 20px;
      position: relative;
      margin-left: 10px;
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--white-color);
        left: 0;
        top: 7px;
      }
      &:first-child {
        margin-left: 0;
        padding-left: 0;
        &::after {
          display: none;
        }
      }
    }
  }
  .cs_post_avatar_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.cs_post_style_1 {
  transition: all 0.4s ease;
  background-color: #fff;
  .cs_post_info {
    transition: all 0.4s ease;
  }
  .cs_post_title {
    margin-top: 8px;
    a {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
  .cs_post_meta {
    li {
      font-size: 16px;
      line-height: 1.625;
    }
  }
  .cs_date {
    color: #97a3b6;
  }

  .cs_post_thumb {
    overflow: hidden;
    display: block;
    border-radius: 24px;
    img {
      width: 100%;
      transition: all 0.7s ease;
    }
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }
  &:hover {
    transform: translateY(-5px);
  }
}

.cs_post_style_2 {
  position: relative;
  min-height: 400px;
  width: 100%;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  align-items: end;
  .cs_overlay {
    border-radius: 24px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.5%, #000 110.13%);
  }
  .cs_post_card_in {
    position: relative;
    z-index: 1;
    .cs_post_meta {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.cs_blog_details_heading {
  padding: 50px 0;
  .cs_post_avatar_text {
    span {
      &::after {
        background-color: var(--body-color);
      }
    }
  }
}
.cs_blog_details {
  ul {
    list-style: none;
    padding-left: 32px;
    margin: 32px 0;
    // display: flex;
    // flex-direction: column;
    // gap: 32px;
    li:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  .cs_blockquote {
    padding: 16px;
    background: #f8fafc;
    border-left: 3px solid #652cd1;
  }
}
.cs_single_blog_tags {
  gap: 16px;
  a {
    padding: 8px 12px;
    background-color: #f1f4f8;
    border: 1px solid #cdd5e0;
    border-radius: 24px;
  }
}
.cs_article_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
