.cs_tab_links.cs_style_1 {
  padding: 8px;
  border-radius: 50px;
  gap: 6px;
  color: #97a3b6;
  li {
    a {
      display: block;
      padding: 7px 35px;
      border-radius: 50px;
      &:hover {
        color: var(--accent-color);
        background: rgba(var(--accent-color), 0.1);
      }
    }
    &.active {
      a {
        color: var(--white-color);
        background: linear-gradient(
          60deg,
          #1c0e3f 19%,
          rgba(90, 64, 154, 0.7) 86.31%
        );
      }
    }
  }
}
.cs_tab {
  display: none;
  &.active {
    display: block;
  }
}

.cs_pricing_table_style_1 {
  width: 100%;
  height: 100%;
  padding: 32px;
  border: 1px solid #e3e8ef;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  .cs_offer_badge {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 2px 8px;
    border-radius: 8px;
    letter-spacing: 0.1px;
    background-color: #def5ed;
    color: #049f6c;
  }
  hr {
    margin-top: 0;
    margin-bottom: 20px;
    border-color: #e3e8ef;
  }
  .cs_pricing_feature_list li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 24px;
    .cs_feature_icon {
      height: 32px;
      width: 32px;
      margin-top: -6px;
      border-radius: 50%;
      color: var(--accent-color);
      background-color: var(--gray-color-2);
    }
  }
  .cs_pricing_feature_list li:last-child {
    margin-bottom: 0;
  }
  .cs_pricing_feature_list .cs_feature_icon {
    position: absolute;
    top: 3px;
    left: 0;
  }
  .cs_pricing_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-top: auto;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 40px;
    text-shadow: 0 50px 0 currentColor;
    overflow: hidden;
    background-color: #fff;
    span {
      transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &:hover {
      span {
        transform: translateY(-50px);
      }
    }
  }
  .cs_price_value {
    display: flex;
    align-items: flex-end;
    gap: 6px;
  }

  &:hover {
    .cs_pricing_btn {
      background-color: var(--gray-color-2);
      color: var(--heading-color);
    }
  }
  &.cs_popular {
    color: #fff;
    background-color: var(--accent-color);
    background-image: url("../img/active_pricing_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .cs_heading_color,
    .cs_body_color {
      color: #fff;
    }
    .cs_pricing_btn {
      color: var(--heading-color);
    }
    hr {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
}
