/*--------------------------------------------------------------
  13. Testimonial
----------------------------------------------------------------*/
.cs_white_bg {
  hr {
    border-color: #e3e8ef;
  }
}
.cs_testimonial.cs_style_1 {
  hr {
    margin-bottom: 32px;
    border-color: #e3e8ef;
  }

  .cs_testimonial_meta {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      height: 62px;
      width: 62px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .cs_testimonial_blockquote {
    line-height: 1.67em;
  }
}

/*-------------------------------------------------
 Funfact Section
---------------------------------------------------*/
.cs_funfact_wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  gap: 20px;
}

.cs_funfact.cs_style_1 {
  display: flex;
  align-items: center;
  gap: 8px;
  .odometer {
    letter-spacing: 1px;
  }
}
